/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2017, 15:33:19
    Author     : carlos
*/

.top-navbar .navbar-brand{
    font-size: 20px;
}
.login-bg{
    background-color: #E5EBF2;
}
.thumb{
    width:100px;
}
.navigation .pagination{
    margin: 0;
}