/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
!/app/Resources/FOSUserBundle/views/Profile/edit.html.twig
!/src/AdminBundle/Resources/views/user/new.html.twig
!/src/AdminBundle/Resources/views/user/edit.html.twig