{% macro btnStatus(active, url) %}
    {% if active %}
        <a href="" data-ajax-remove="{{ url }}">{{'action.inactive'|trans}}</a>
    {% else %}
        <a href="" data-ajax-remove="{{ url }}">{{'action.active'|trans}}</a>
    {% endif %}
{% endmacro %}
