{% macro btnStatus(active, url) %}
    {% if active %}
        <a data-ajax-remove="{{ url }}" class="btn"><i class="glyphicon glyphicon-chevron-right"></i> T Desactivar</a>
    {% else %}
        <a data-ajax-remove="{{ url }}" class="btn"><i class="glyphicon glyphicon-chevron-right"></i> T Activar</a>
    {% endif %}
{% endmacro %}
