{{ form_start(form) }}
{{ form_widget(form) }}
{% block buttons %}
    <button type="submit" class="btn btn-success">T Crear</button>
    <button type="reset" class="btn btn-primary">T Resetear</button>
{% endblock %}
{{ form_end(form) }}
</div>
</form>
