{% set body_class="login-bg"%}
{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    {{ 'login.check.email'|trans }}
{% endblock %}
{% block fos_user_content %}
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3" style="margin-top: 30px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>{{ 'login.check.email'|trans }}</h3>
            </div>
            <div class="panel-body">    
                <div class="alert alert-info"><strong>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</strong></div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
