{% set body_class="login-bg"%}
{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
{{ 'login.check.email'|trans }}
{% endblock %}
{% block fos_user_content %}
    <div class="col-md-push-3 col-md-6">
        <div class="content-box-header">
            <div class="panel-title">{{ 'login.check.email'|trans }}</div>
            <div class="panel-options"></div>
        </div>
        <div class="content-box-large box-with-header">   
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
